[submodule "errors"]
	path = errors
	url = git://github.com/managedit/kohana-errors.git
[submodule "unittest"]
	path = unittest
	url = git://github.com/kohana/unittest.git
[submodule "userguide"]
	path = userguide
	url = git://github.com/kohana/userguide.git
[submodule "orm"]
	path = orm
	url = git://github.com/kohana/orm.git
[submodule "image"]
	path = image
	url = git://github.com/kohana/image.git
[submodule "database"]
	path = database
	url = git://github.com/kohana/database.git
[submodule "codebench"]
	path = codebench
	url = git://github.com/kohana/codebench.git
[submodule "cache"]
	path = cache
	url = git://github.com/kohana/cache.git
[submodule "auth"]
	path = auth
	url = git://github.com/kohana/auth.git
[submodule "kw-core"]
	path = kw-core
	url = git://github.com/russiankohana/kw-core.git
[submodule "coffeescript"]
	path = coffeescript
	url = git://github.com/DanHulton/kohana-coffeescript.git
[submodule "kw-modules"]
	path = kw-modules
	url = git://github.com/russiankohana/kw-modules.git
[submodule "admin-theme"]
	path = admin-theme
	url = git://github.com/synapsestudios/kohana-admin-theme.git
[submodule "github"]
	path = github
	url = git://github.com/ahutchings/kohana-github.git
